* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightblue;
}

.container {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  height: 100%;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /*margin: 0 10px;*/
}

.right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.raceholder {
  display: flex;
  flex-direction: column;
}

.flex-item {
  /*padding: 5px;*/
}

.logo {
   
}

p {
  font-size: 30px;
}
