    body {
      background-color: lightblue;
    }
    
    h1,h2,h3,p {
      text-align: center;
    }

 html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        body {
            display: table;
        }

        .my-block {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

.footer2 {
      text-align: center;
      display: table-cell;
      vertical-align: bottom;
}

.footer {
      <--position: fixed;
      left: 0;
      bottom: 0;-->
      /*width: 100%;*/
      background-color: lightblue;  
      color: green;
      text-align: center;
}

