    body {
      background-color: lightblue;
    }
    
    h1,h2,h3,p {
      text-align: center;
    }

#container {
    display: table;
    height: 400px;
    margin: 0 auto;
    width: 400px;
}
.content {
    background: #f2f2f2;
    padding: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

