* {
  margin: 0;
  padding: 0;
  box-seizing: border-box;
  background-color: #47682c; /*Dark Green*/
  color: #1b2f33; /*Dark dark green*/
}

.menu-container {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.menu {
  border: 1px solid white;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sidebar {
  border: 1px solid white;
  display: flex;
}

.content {
  border: 1px solid white;
  display: flex;
}

.footer {
  border: 1px solid white;
  display: flex;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

p {
}
