* {
  margin: 0;
  padding: 0;
  box-seizing: border-box;
  background-color: black;
}

.menu {
  background-color: red;
  display: flex;
}

.sidebar {
  background-color: blue;
  display: flex;
}

.content {
  background-color: green;
  display: flex;
}

.footer {
  background-color: yellow;
  display: flex;
}

p {
  color: white;
}
